.output-main {
    height: 100vh; 
    /* background-image: url('Background.png');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px;
    font-family: Arial, sans-serif;
}

.output-content-step {
    display: flex; 
    text-align: right; 
    margin-top:70px;
    margin-left:100px;
}