/* Output.css */

.output-main {
    height: 100vh; /* Ensures the main container covers the full viewport height */
    background-image: url('Output.png'); 
    background-size: cover; /* Ensures the background image covers the whole container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    padding: 20px;
    font-family: Arial, sans-serif;
}

.output-content-step {
    display: flex; /* Ensures the content is treated as a block element */
    text-align: right; /* Ensures content within the block is left-aligned */
    margin-top:70px;
    margin-left:100px;
}