body {
  background-image: url('./WebPage\ Introduction.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

header {
  color: black;
  padding: 0px;
  text-align: center;
}

.button {
  background-image: url('./PreButton.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  color: transparent; 
  padding: 0; 
  text-align: center;
  text-decoration: none; 
  border:none;
  width: 600px;
  height: 400px;
  margin: 0; 
  outline: none;
  cursor: pointer; 
  border-radius: 1px; 
  transition: background-image 0.3s; 
}

.button:hover {
  background-image: url('./PostButton.png'); 
}