.container {
    display: contents;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    column-width: 10px;
}

.labelGrp {
    grid-column: 1;
}

.selectGrp {
    grid-column: 2;
}