.button {
  background-image: url('./PreSubmitButton.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  color: transparent; 
  padding: 0; 
  border: none;
  width: 200px;
  height: 200px;
  outline: none;
  cursor: pointer; 
  border-radius: 1px; 
  transition: background-image 0.3s; 
}

.button:hover {
  background-image: url('./PostSubmitButton.png'); 
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px; 
  text-align: center;
}
  
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.label-container {
  margin-top: 1rem;
  margin-bottom: 1rem; 
}
  
label, select {
  margin: 0; 
  padding: 0.2rem 0; 
}
  
h1, h2 {
  margin: 0.5rem 0; 
}

.page-link {
  display: inline-block;
  width: 200px; 
  height: 200px; 
  background-image: url('./PreBackButton.png'); 
  background-size: 160%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 50px; 
  margin-bottom: 50px;
  border: none;
}
  
.page-link:hover {
  background-image: url('./PostBackButton.png'); 
  background-repeat: no-repeat;
}

.error-message {
  color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.next-item {
  /* display: flex; */
  margin-left: 5%;
  align-items: end;
  width: 600px; 
  height: 200px; 
  background-image: url('./NextButton.png'); 
  background-size: 160%;
  background-position: right;
  background-color: transparent;
  border-color: transparent;
  /* background-color: purple; */
}

.prev-item {
  margin-top: 24%;
  width: 600px; 
  height: 200px; 
  background-image: url('./PreviousButton.png'); 
  background-size: 160%;
  background-position: right;
  background-color: transparent;
  border-color: transparent;
  /* background-color: aqua; */
}

.text-output {
  margin-top: 50%;
  color: black;
  /* background: lightsalmon; */
  background-color: transparent;
  font-weight: bold;
  text-align: center;
}

.image-output {
  width: 400px;
  height: 400px;
}

.test-overall-container {
  display: flex;
  justify-content: space-around;
}
.test-container {
  /* background-color: greenyellow; */
  background-color: transparent;
  width: 500px;
  height: 600px;
}

.test-container2 {
  /* background-color: orange; */
  background-color: transparent;
  width: 500px;
  height: 600px;
}