:root {
  --vw: 100%;
  --vh: 100%;
}

/* .error-message {
  color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
} */

.text-output {
margin-top: 10vw;
padding: 20px;
  color: black;
  /* background-color: lightsalmon; */
  /* background-color: transparent; */
  font-weight: bold;
  text-align: center;
}

.image-output {
  display: flex;
  height: 100%;
  max-height: 400px;
  width: auto;
  justify-content: center;
  /* background-color: grey; */
}

.container {
  /* background-color: blue; */
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  min-height: 100vh;
  box-sizing: border-box;
  margin-left: 25vh;
  margin-top: -25vh;
}

.output-container {
  /* background-color: grey; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */ 
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: auto auto; 
  width: 100%; 
  max-width: 1000px; 
  box-sizing: border-box;
}

.sub-container, .sub-container2 {
  /* background-color: greenyellow; */
  width: 100%; 
  max-width: 500px;
  box-sizing: border-box;
}

.sub-container3, .sub-container4 {
  display: flex;
  /* background-color: purple; */
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 500px;
  box-sizing: border-box;
}

.back {
  display: flex;
  justify-content: flex-start;
}

/* .center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px; 
  text-align: center;
} */
  
/* .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.label-container {
  margin-top: 1rem;
  margin-bottom: 1rem; 
}
  
label, select {
  margin: 0; 
  padding: 0.2rem 0; 
} */
  
/* 
.page-link {
  display: inline-block;
  width: 200px; 
  height: 200px; 
  background-size: 160%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 50px; 
  margin-bottom: 50px;
  border: none;
}
  
.page-link:hover {
  background-repeat: no-repeat;
} */
