.page-container {
  color: black;
  padding: 20px;
  background-image: url('./MainPage.png'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-subtitle {
  font-size: 24px; /* Add this line for subtitle styling */
  margin-bottom: 20px;
}

.page-form {
  margin-bottom: 20px;
}

.page-link {
  display: inline-block;
  width: 200px; 
  height: 200px; 
  background-image: url('./PreBackButton.png');
  background-size: 160%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 9%; /* Move Image up and down*/
}

.page-link:hover {
  background-image: url('./PostBackButton.png');
  background-repeat: no-repeat;
}